*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    list-style:none ;
}


 nav{
 display: flex;
 justify-content: space-around;
 align-items: center;
  min-height: 160px;
  background: linear-gradient(
      to right top,
      rgb(0, 0, 0),
      rgb(0, 0, 0)
    );
  font-family: 'Anton', sans-serif;
  font-size: 27px;
}

.logo img{
    position: absolute;
     left: 10px;
     margin-bottom: px;
     border-radius: 20px;
     margin-left: 20px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;

}

.nav-links a{
    color: azure;
    text-decoration: none;
    letter-spacing: 2px;

}

.nav-links li{
    list-style:none ;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: azure;
    margin: 5px;
    transition: all 0.3s ease;
}

.burger{
    display: none;
    cursor: pointer;
}

@media screen and (max-width:2024px){
  .nav-links{
      width: 75%;
  }
}

@media screen and (max-width:768px){
    body{
        overflow: hidden;
    }
  .nav-links{
      position: absolute;
      right: 0px;
      height: 92vh;
      top: 8vh;
      background: linear-gradient(
        to  top,
        rgb(0, 0, 0),
        rgb(0, 0, 0)
      );
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      height: 100%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in; 
      
  }
  .nav-links li{
      opacity: 0;
  }

  .burger{
      display:block
  }


.nav-active{
    transform: translateX(0%);
    
}
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
  
.social img{
    width: 40px;
    height: 40px;
}
.social{
    content: "";
    clear: both;
    display: table;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

  .column{
      padding: 10px;
  }

.bounce:hover {
	animation: bounce 1s;
}



.bounce {
	border: none;
	background: transparent;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease; 
    font-family: 'Anton', sans-serif;
    font-size: 30px;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

.anim:hover {
    font-size: 29px;
    background: linear-gradient(
        to  top,
        rgb(0, 0, 0),
        rgba(53, 46, 46, 0.438)
      );
      border-radius: 10px;
  
}


 

 .banner {
	display: block;
	min-height: 200px;
	width: 600px;
}
.typed_wrap {
	display: block;
	border: 6px solid #000000;
	width: 349px;
	height: auto;
	padding: 20px;
	
	/*centers it in the .banner*/
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);

    width: auto;
    height: auto;
}

.

.active {
  background-color: #717171;
}


.image img{
    max-width: 100%; 
display:block; 
height: auto;
}


.statment{
    font-size: 50px;
    font-family: 'Anton', sans-serif;
    margin-top: 90px;
    margin-left: 130px;
    margin-right: 130px;
    text-align: center;
    margin-bottom: 90px;
}

.services-banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
     min-height: 760px;
     background: linear-gradient(
         to right top,
         rgb(36, 32, 32),
         rgb(0, 0, 0)
       );
}